.content {
  margin-bottom: 20px;
  
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: black;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
.father{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  position: relative;
  /* border: solid 4px white; */
  height: 500px;
  width: 70vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react {
  position: absolute;
  height: 100px;
  top: 0;
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
  
}
.react > a > img{
  padding: 0;
}
.boostrap {
  position: absolute;
  right: 0px;
  height: 100px;
  top: 100px;
  width: 50%;
  display: flex;
  justify-content: center;
}
.boostrap > a > img{
  padding: 0;
}
.github {
  position: absolute;
  right: 0%;
  top: 200px;
}
.github > a > img{
  padding: 0;
}
.jwt {
  position: absolute;
  right: 0px;
  top: 300px;
  width: 50%;
  display: flex;
  justify-content: center;
}
.jwt > a > img{
  padding: 0;
}
.mongo {
  position: absolute;
  top: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
  filter: drop-shadow(0 0 1rem #000000aa);
}
.mongo > a > img{
  padding: 0;
}
.node {
  position: absolute;
  left: 0px;
  top: 300px;
  width: 50%;
  display: flex;
  justify-content: center;
 
  /* filter: drop-shadow(0 0 1.2em #ffffff); */
}
.node > a > img{
  padding: 0;
}
.redux {
  position: absolute;
  left: 0%;
  top: 200px;
  filter: drop-shadow(0 0 4em #ffffff7c);
}
.redux > a > img{
  padding: 0;
}
.sequelize {
  position: absolute;
  left: 0px;
  height: 100px;
  top: 100px;
  width: 50%;
  display: flex;
  justify-content: center;
}
.sequelize > a > img{
  padding: 0;
}
.tamaño{
  scale: 0.7;
}
.space {
  height: 100px;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
